body {
    background-color: #eeeeee!important;
}
.firstCards {
   display: inline;
}

.newCard {
    width: 100px;
    height: 200px;
    background-color: red;
    display: inline-block;
}

.PlayingCard {
    display: inline-block;
    position: relative;
    width: 80px;
    background: white;
    margin: 0px 5px;
    height: 100px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  }

.red {
    color: red;
}
.black {
    color: black;
}

.topLeftHeart::before{ 
    content: "♡";
    position: absolute;
    top: -15px;
    left: 3px;
    color: red;
}
.bottomRightHeart::after {
    content: "♡";
    position: absolute;
    bottom: -15px;
    right: 3px;
    transform: rotate(180deg);
}
.topLeftDiamond::before{ 
    content: "♢";
    position: absolute;
    top: -15px;
    left: 3px;
}
.bottomRightDiamond::after {
    content: "♢";
    position: absolute;
    bottom: -15px;
    right: 3px;
    transform: rotate(180deg);
}	
.topLeftClub::before{ 
    content: "♧";
    position: absolute;
    top: -15px;
    left: 3px;
}
.bottomRightClub::after {
    content: "♧";
    position: absolute;
    bottom: -15px;
    right: 3px;
    transform: rotate(180deg);
}
.topLeftSpade::before{ 
    content: "♤";
    position: absolute;
    top: -15px;
    left: 3px;
}
.bottomRightSpade::after {
    content: "♤";
    position: absolute;
    bottom: -15px;
    right: 3px;
    transform: rotate(180deg);
}
.center {
    position: absolute;
    top: 15px;
    left: 40%;
    font-size: 30px;
}
